# dependencies
/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build output
/.next/
/out/
/build/
/coverage/

# Firebase credentials (never commit)
/serviceAccountKey.json
whiteboard-c8704-firebase-adminsdk-fbsvc-fb36e0ad0f.json

# environment & secrets
.env*
.vercel/
/.firebase/

# Local env files
.env.local
.env.*.local

# OS & editor junk
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript & Next.js generated
*.tsbuildinfo
next-env.d.ts